<h1>Promotion System</h1>
<h3>Boas vindas ao sistema de gestão de promoções</h3>

<ul>
  <li><%= link_to "Promoções", promotions_path %></li>
  <li><%= link_to "Categorias", categories_path %></li>
</ul>