<h1><%= @category.name %></h1>
<dl>
  <dt>Código</dt>
    <dd><%= @category.code %></dd>
</dl>

<%= link_to "Editar", edit_category_path(id: @category.id) %><br>
<%= link_to "Voltar", categories_path %>